six==1.8.0
Pillow==2.6.1
psycopg2==2.5.4
caldav==0.2.1
polib==1.0.5
python-sql==0.4
lxml==3.4
relatorio==0.6.1
vobject
PyWebDAV==0.9.8
qrcode==5.1
pytz==2014.7
python-dateutil==2.2
python-ldap==2.4
python-memcached==1.58
trytond<3.5
trytond_account<3.5
trytond_account_invoice<3.5
trytond_account_product<3.5
trytond_calendar<3.5
trytond_company<3.5
trytond_country<3.5
trytond_currency<3.5
trytond_party<3.5
trytond_product<3.5
trytond_stock<3.5
trytond_stock_lot<3.5
proteus<3.5
bitstring==3.1.5
celery_tryton==0.2
trytond_health<2.9
trytond_health_inpatient<2.9
trytond_health_nursing<2.9
trytond_health_surgery<2.9
trytond_health_lifestyle<2.9
trytond_health_pediatrics<2.9
trytond_health_gyneco<2.9
trytond_health_history<2.9
trytond_health_icd10<2.9
trytond_health_icpm<2.9
trytond_health_lab<2.9
trytond_health_socioeconomics<2.9
trytond_health_services<2.9
trytond_health_pediatrics_growth_charts<2.9
trytond_health_pediatrics_growth_charts_who<2.9
trytond_health_imaging<2.9
trytond_health_reporting<2.9
trytond_health_calendar<2.9
