six
PILLOW
caldav
polib
python-sql
trytond<3.5
trytond_account<3.5
trytond_account_invoice<3.5
trytond_account_product<3.5
trytond_calendar<3.5
trytond_company<3.5
trytond_country<3.5
trytond_currency<3.5
trytond_party<3.5
trytond_product<3.5
trytond_stock<3.5
trytond_stock_lot<3.5
proteus==3.2.1
bitstring==3.1.3
celery_tryton
